
  .search-container {
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  
  .drop {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    position: absolute;
    margin-top: 55px;
    max-height: 580px;
    min-height: 440px;
    overflow: hidden;
    padding: 10px 0 0 0;
  }


  
  
  
  
  
 
 
  