
  .search-container {
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  
  .drop {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    position: absolute;
    max-height: 580px;
    overflow: auto;
    padding: 10px 0 0 0;
    border-bottom: 0 0 10px 10px;
    margin-top: 55px;
    white-space: nowrap;
    overflow-x:hidden;
  }


  
  
  
  
  
 
 
  